<div class="admin">
<h1 class="TopLevelHeader">Admin Page</h1>
<p>Choose what you want to do below</p>
<p><%= link_to "Add New Household", new_household_path %></p>
<p><%= link_to "See All Guests", households_path %></p>
<p><%= link_to "See Comments", comments_path %></p>
</div>