/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */

body {
  background-color: rgba(219, 239, 178, 0.1);
  padding: 0 0 0 0; }

@font-face {
  font-family: 'AlwaysForever';
  src: url(/alwaysforever-webfont.eot);
  src: url(/alwaysforever-webfont.eot?#iefix) format("embedded-opentype"), url(/alwaysforever-webfont.woff) format("woff"), url(/alwaysforever-webfont.ttf) format("truetype"), url(/alwaysforever-webfont.svg#always__foreverregular) format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'TheWorldIsYours';
  src: url(/fonts/theworldisyours-webfont.eot);
  src: url(/fonts/theworldisyours-webfont.eot?#iefix) format("embedded-opentype"), url(/fonts/theworldisyours-webfont.woff) format("woff"), url(/fonts/theworldisyours-webfont.ttf) format("truetype"), url(/fonts/theworldisyours-webfont.svg#the_world_is_yoursregular) format("svg"); }
h1 {
  font-family: 'AlwaysForever',Verdana; }
