<% if @household.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-error">
        The form contains <%= pluralize(@household.errors.count, "error") %>.
      </div>
      <ul class="error_list">
        <% @household.errors.messages.values.each do |msg| %>
            <li>* <%= msg.first %></li>
        <% end %>
      </ul>
    </div>
<% end %>