/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


@font-face {
    font-family: 'AlwaysForever';
    src: asset-url('alwaysforever-webfont.eot');
    src: asset-url('alwaysforever-webfont.eot?#iefix') format('embedded-opentype'),
    asset-url('alwaysforever-webfont.woff') format('woff'),
    asset-url('alwaysforever-webfont.ttf') format('truetype'),
    asset-url('alwaysforever-webfont.svg#always__foreverregular') format('svg');
}

@font-face {
    font-family: 'TheWorldIsYours';
    src: font-url('theworldisyours-webfont.eot');
    src: font-url('theworldisyours-webfont.eot?#iefix') format('embedded-opentype'),
    font-url('theworldisyours-webfont.woff') format('woff'),
    font-url('theworldisyours-webfont.ttf') format('truetype'),
    font-url('theworldisyours-webfont.svg#the_world_is_yoursregular') format('svg');
}