<p>
    Please enter one of the last names in your household and your ZIP code.<br/>
    For Colombian guests please enter 'Colombia' for your ZIP code.
</p>
<%= form_tag({controller: 'households', action: 'search'}, method: 'get') do %>
    <p>
      <%= text_field_tag :search, params[:search], placeholder: 'Last name*',  :id => "searchformlastname" %><br/>
      <%= text_field_tag :zipcode, params[:zipcode], placeholder: 'ZIP code*', :id => "searchformzipcode" %><br/>
      <div class="submit">
      <%= submit_tag "Submit", :name => nil, :id => "searchformsubmit"%>
      </div>
    </p>
<% end %>